



.banner {
  width: 100%;
  max-height: 340px;
  text-align: center;
}

/* =========STORY PAGE=============== */

.story-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 340px 1024px;
  grid-row-gap: 24px;
  border: 1px solid black;
  width: 100vw;
}

.nozawa {
  grid-row-start: 2;
  border: 1px solid black;
  width: 100%;
}

.story-text {
  grid-row-start: 2;
  width: 100%;
  height: 884px;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.9px;
  padding: 55px 29px;
  border: 1px solid black;
}