
.banner {
  width: 100vw;
  max-height: 340px;
  text-align: center;
}


/* * NAVBAR * NAVBAR * NAVBAR * NAVBAR * NAVBAR * NAVBAR * NAVBAR * NAVBAR *  */
.navbar{
  width: 100vw;
  height: 84px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 3;
  box-sizing: border-box;
  padding-top: 1.5%;
}

a{
  text-decoration: none;
}
a:visited{
  color: black;
}
ul{
  width: 100vw;
  margin: auto;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: auto;
  position: absolute;
  width: 100%;
  justify-content: space-around;
}

/* * MENU * MENU * MENU * MENU * MENU * MENU * MENU * MENU  *  */
.menu-area{
  background-color: white;
  width: 100%;
  height: 1180px;
  border: solid 1px #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}

.third-width{
  border: solid 1px #000000;
  height: 480px;
  width: 420px;
  background-color: purple;
  padding: 10px;
  margin: 10px;
}

.left-side-items{
  background-color: pink;
  position: absolute;
  width: 300px;
}

.rigth-side-price{
  background-color: beige;
  width: 84px;
  float: right;
}

.small-menu-banner{
  background-color:yellow;
  height: 120px;
  text-align: center;
  padding: auto;
}

.small-left-side-items{
  background-color: aqua;
  position: absolute;
  width: 260px;
}
.small-right-side-price{
  background-color:green;
  margin: 0 auto;
  width: 168px;
  float: right;
}

/* * STORY * STORY * STORY * STORY * STORY * STORY * STORY * STORY */

.story-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 340px 1024px;
  grid-row-gap: 24px;
  border: 1px solid black;
}

.story-banner {
height: 340px;
grid-column-start: 1;
grid-column-end: 3;
position: relative;
}

.banner-img {
position: absolute;
top: 0;
left: 0;
}

.banner-title {
  position: absolute;
  top: 45%;
  right: 40%;
  z-index: 2;
  color: white;
}

.some-fish {
  width: 100%;
}

.nozawa {
  grid-row-start: 2;
  border: 1px solid black;
  width: 100%;
}

.story-text {
  grid-row-start: 2;
  width: 100%;
  height: 884px;
  font-size: 32px;
  letter-spacing: 0.9px;
  padding: 55px 5%;
  box-sizing: border-box;
  border: 1px solid black;
}

/* * LOCATION * LOCATION * LOCATION * LOCATION * LOCATION * LOCATION * LOCATION * LOCATION *  */
.quarter-div-img{
  width: 630px;
  height: 420px;
}

half-vertical-div{
  width: 720px;
  height: 1024px;
  background-color: yellow;
}

/* * LOCATION * LOCATION * LOCATION * LOCATION * LOCATION * LOCATION  */

.location-section {
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.location-banner {
  grid-column-start: 1;
  grid-column-end: 3;
}

.location-img-container {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.location-info {
  grid-column-start: 2;
  font-size: 28px;
}





/* * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background: #f2f2f2;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 18px;
}

.social-media {
  width: 15%;
  display: flex;
  justify-content: space-around;
}