/* .App {
  text-align: center;
} */
.navbar{
  width: 1440px;
  height: 84px;
  background-color:lightblue;
}
a{
  text-decoration: none;
}
a:visited{
  color: black;
}
ul{
  margin: auto;
  text-align: center;
  list-style-type: none;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}