* {
  margin: 0px;
  padding: 0px;
  font-family: "Quattrocento Sans", sans-serif;
  /* max-width: 1440px; */
  /* text-align: center; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100vw;
}

a:hover{
color:black;
text-decoration: none;
}
.App {
  font-family: "QuattrocentoSans", sans-serif;
  height: 100vh;
  width: 80vw;
}

.flexTopCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
}

.flexCenterCenter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column wrap;
}
.flexSARND {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}
.space {
  padding-bottom: 0.2rem;
}
.isolate {
  margin: 0.5rem 0;
}
.fish-logo a img {
  height: 3rem;
  width: auto;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 5;
  height: 3.5rem;
  width: 80vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  overflow: hidden;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  font-family: "QuattrocentoSans", sans-serif;
  font-weight: bold;
  color: black;
}
.header {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-top: -3rem;
  padding-top: 0.2rem;
  background-color: white;
  width: 14rem;
  height: 10rem;
  border-radius: 0 0 100% 100%;
  -moz-border-radius: 0 0 100% 100%;
  -webkit-border-radius: 0 0 100% 100%;
  z-index: 3;
}
.header h1 {
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.35rem;
}
.header h4 {
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  font-size: 0.6rem;
  letter-spacing: 0.21rem;
  color: gray;
  margin-bottom: 1.3rem;
}
img {
  width: 100%;
}
/* ***************************************** */
.banner {
  width: 100%;
  height: 10rem;
  text-align: center;
  margin: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bm-burger-button {
  display: none;
}

/* CAROUSEL */
.tester {
  width: 100%;
  margin: 0 auto;
}

.tester img{
  width:100%;
}


/* * HEADER * HEADER * HEADER * HEADER * HEADER * HEADER * HEADER * HEADER  */
/* .header {
  width: 100vw;
} */

.header img {
  width: 100%;
}

/* * MENU * MENU * MENU * MENU * MENU * MENU * MENU * MENU  *  */

.menu-border {
  border: 1px solid #000000;
  font-family: QuattrocentoSans;
  margin-bottom: 1rem;
}

.special-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
}

.special-div{
width: 25%;
display: flex;
margin: 1.5rem;
align-items: center;
justify-content: flex-start;
flex-flow: column wrap;
font-family: QuattrocentoSans;
border: 1px solid #000000;
min-width: 227.89px;
max-width: 378px;
}

.special-div h3, .bottom-div h3{
font-weight: bold;
text-transform: uppercase;
padding: 1rem;
}
.special-div h4, .bottom-div h4{
padding: 1rem;
}

.special-div p, .bottom-div p{
line-height: .3rem;
}

.bottom-div{
width: 25%;
display: flex;
margin:  1.5rem;
align-items: center;
justify-content: flex-start;
flex-flow: column wrap;
min-width: 227.89px;
max-width: 378px;
}

.bottom-div h6{
  margin-top: 1rem;
  font-weight: 800;
  
}
.just-eat-rigth-div p span{
margin-left: 20px;
}

.just-eat-container{
  border: 1px solid #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.extra-space{
  line-height: 3rem;
}

.just-eat-bottom{
  min-width: 261.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height: .3rem;
  margin-top: 1rem;
}

.inner-menu{
  /* display: flex;
  align-items: flex-start;
  flex-flow: column wrap; */
  line-height: .3rem;
  margin: .3rem;

}

.inner-menu p span{
  float: right;
  padding: 0 2vw;
  }

.inner-menu br{
  line-height: 2rem;
}

.limited-menu{
  justify-content: space-between;
  width: 100%;
  line-height: .3rem;
  margin-top: 1.3rem; 
}

.limited-menu span{
  float: right;
  padding: 0 2vw;
  }
@media only screen and (max-width: 1038px) {

  .special-container, .bottom-div{
    align-items: center;
    flex-flow: column wrap;
  }
}


.menu-area{
  background-color: white;
  width: 100%;
  height: 1180px;
  border: solid 1px #000000;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.third-width{
  height: 480px;
  width: 420px;
  padding: 10px;
  margin: 10px;
}

.p-height{
  line-height: 10px;
}

.nozawa-height{
  line-height: 5px;
}
.p-padding{
  padding-top: 7px;
}

.special-three{
text-align: center;
font-size: 24px;
border: solid black 1px;

}
.special-three span{
  font-size: 43px;
}

.special-price{
  font-size: 36px;
}

.inside-items{
position: absolute;
width:420px
}

.left-side-items p span{
float: right;
}

.small-menu-banner{
  height: 120px;
  text-align: center;
  padding: auto;
  font-size: 36px;
  line-height: 10px;
}

.small-menu-banner{
  border: solid black 1px;
align-items: center;
}

.small-left-side-items{
  position: absolute;
  width: 260px;
}
.small-right-side-price{
  margin: 0 auto;
  width: 168px;
  float: right;
}

.small-right-side-price span{
/* word-spacing: 15px; */
margin-left: 18px;
}
.limited-title{
text-align: center;
font-size: 24px;
  font-weight: bold;
}


/* * STORY * STORY * STORY * STORY * STORY * STORY * STORY * STORY */


.story-banner {
  width: 100%;
  position: relative;
}

.story-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-title {
  z-index: 2;
  color: white;
  font-weight: bold;
  position: absolute;
}
.story-page {
  width: 100%;
  display: flex;
  margin-top: 2vh;
}

.chef {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}
.nozawa {
  width: 100%;
}

.story-text {
  width: 100%;
  font-size: 1.1vw;
  letter-spacing: 0.9px;
  padding: 2% 5% 2% 5%;
  box-sizing: border-box;
  align-content: center; 
  margin: 0 auto;
}

/* * LOCATION * LOCATION * LOCATION * LOCATION * LOCATION * LOCATION  */

.location-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
  margin-top: 5%;
  box-sizing: border-box;
  /* padding: 0 10% 0 10%; */
}

.location-banner-title {
  position: absolute;
  top: 40%;
  right: 40%;
  z-index: 2;
  color: white;
  font-size: 6em;
  font-weight: bold;
  font-family: 'QuattrocentoSans', sans-serif;
}

.location-banner img {
  width: 100%;
}

.location-img-container {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.location-img-container img {
  width: 80%;
}

.location-img-top {
  margin-bottom: 4vh;
}

.location-info {
  grid-column-start: 2;
  font-size: 1.7vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.location-info div {
  margin: 1vh 0;
}

.location-info p {
  margin: 0;
}

.location-info h3 {
  font-size: 3vw;
  margin-top: 0;
}

.map {
  width: 3.2vw;
}

.clock {
  width: 4.5vw;
}

/* * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER * FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background: #f2f2f2;
  font-size: 1.2vw;
}

.footer-address {
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer-address p {
  margin: 0 auto;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.7vw;
}



.social-media {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.social-media a img {
  width: 90%;
}


@media only screen and (max-width: 420px){
  .App {
    width: 100vw;
  }

  .navbar {
    width: 100vw;
  }

  .navbar-link {
    display: none;
  }


  /* **STORY MEDIA QUERY** */
  .banner-title{
    font-size: 1.25rem;
  }
  .story-page{
    display:block;
  }
  .chef{
    padding-top: 28px;
    width:100%;
  }
 .story-text {
   font-size: 1.0625rem;
    width:100%;
   text-align: center;
   padding-top: 15px;
 } 

.story-long {
  display: none;
}

  /* * * LOCATION * * */


  .location-section {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .location-img-top {
    margin-bottom: 1vh;
  }

  .location-info {
    margin-top: 1vh;
    font-size: 2.5vw;
  }

  .location-info h3 {
    font-size: 4vw;
  }

  .location-info div {
    margin: .5vh 0;
  }

/* * BURGER * BURGER * BURGER * BURGER * BURGER * BURGER * BURGER */

.bm-burger-button {
  display: initial;
  position: fixed;
  width: 25px;
  height: 20px;
  left: 6vw;
  top: 1.5vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  left: 49vw;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #F2F2F2;
  padding: 2.5em 1.5em 0;
  font-size: 2em;
  overflow: hidden;
  width: 60vw;
  text-align: center;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #b8b7ad;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: 2.5vh;
}

/* Styling of overlay */
.bm-overlay {
  background: #f2f2f2;
}

}